<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="aside-close-btn pull-right" ng-click="$hide()">
                    <i class="material-icons v-m">&#xe5cd;</i>
                </button>
                <h4 class="modal-title">Remove Customer</h4>
            </div>
            <div class="modal-body">Are you sure you want to remove <b>{{modalItem.fname}} {{modalItem.lname}}</b>?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="removeCustomer(modalItem)">Confirm</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>