<div class="padding">
    <div class="clearfix m-b nav-active-primary">
        <ul class="nav nav-pills fontBold" ui-nav>
            <!--
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.products" href="productsList.html"
                   ng-class="{active: $state.includes ('app.products')}">
                    Products
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.customers" href="customersList.html"
                   ng-class="{active: $state.includes ('app.customers')}">
                    Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.users" href="usersList.html"
                   ng-class="{active: $state.includes ('app.users')}">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.orders" href="orderList.html"
                   ng-class="{active: $state.includes ('app.orders')}">
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.product-summary" href="productSummary.html.html"
                   ng-class="{active: $state.includes ('app.product-summary')}">
                    Summary
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.website-orders" href="website-orders.html"
                   ng-class="{active: $state.includes ('app.website-orders')}">
                    Website Orders
                </a>
            </li>
        </ul>
    </div>

    <!------- ORDER LIST ------->
    <div class="box">
        <div>
            <div class="box-body pull-right">
                <button ng-click="changePageSize()" class="btn btn-xs text-primary"
                   ui-sref="product-summary-print">Print Orders
                </button>
                <button  ng-csv="($root.filteredSummary = (productSummary | filter:searchList)) " filename="summary-{{today}}.csv" class="btn btn-xs text-primary">Download Totals
                </button>
                <select class="form-control c-select w-auto inline m-r" ng-model="$root.pickUpDate.pickUpDate" ng-change="filterOrders()">
                    <option value="" selected>All Pickup Dates</option>
                    <option ng-repeat="date in pickupdates" value="{{date}}">{{date}}/12/16</option>
                </select>
                <select class="form-control c-select w-auto inline m-r" ng-model="$root.pickUpDate.store" ng-change="filterOrders()">
                    <option value="" selected>All Stores</option>
                    <option ng-repeat="s in store">{{s}}</option>
                </select>
                <input ng-model="searchList" placeholder="Search Totals" type="text"
                       class="form-control input-sm w-auto inline"/>
            </div>
            <div class="box-header pull-left">
                <h2 class="inline m-r">Product Summary</h2>
                Results per page:
                <input type="number" min="1" max="100" class="form-control input-sm w-auto inline" ng-model="pageSize">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-b">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Product</th>
                    <th>QTY</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="sum in ($root.filteredSummary = (productSummary | filter:searchList | itemsPerPage: pageSize))" current-page="currentPage" >
                    <td>{{sum.code}}</td>
                    <td>{{sum.title}}</td>
                    <td>{{sum.qty | number : 2}}
                        <span ng-if="sum.unit == 'kg'">{{sum.unit}}</span>
                        <span ng-if="sum.unit != 'kg'"> each</span>
                    </td>
                </tr>
                </tbody>
                <!-- Pagination in footer -->
                <tfoot>
                <tr>
                    <td>
                        <!--
                        <b>Showing {{productSummary.length}} out of {{sum.length}} results</b> -->
                    </td>
                    <td colspan="5" class="text-right">
                        <dir-pagination-controls max-size="5" boundary-links="true"
                                                 template-url="../libs/angular/pagination-directive/paginationDir-tpl.html"></dir-pagination-controls>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
